/**ESTILOS GENERALES**/
body{
    background-color: #343a40;
}

.email:focus:invalid{
    border: 2px solid red;
}

.email:required:valid{
    border: 2px solid green;
}

/**FLECHA SUBIR VISTA**/
.flechaSubir{
    display: none;
    padding: 2%;
    font-size: 20px;
    cursor: pointer;
    color: white;
    position: fixed;
    z-index: 1;
    bottom: 5%;
    right: 5%;
    border-radius: 40px 40px 40px 40px;
}

.flechaSubir:hover{
    background: #0054AD;
}

/**BARRA DE NAVEGACION**/
.btn-salir:hover{
    background: red;
    border-radius: 10px 10px 10px 10px;
}

/**VISTA LOGIN**/
.login{
	padding: 2%;
	background: #F0F0F0;
	display: block;
	margin: 6% auto;
	width: 90%;
	border: 1px solid white;
	border-radius: 10px 10px 10px 10px;
}

.login img{
	display: block;
	margin: 3% auto;
	width: 100%;
}

.login hr{
	border: 0.5px solid grey;
	width: 90%;
}

.login p{
	font-size: 15px;
	text-align: center;
}

.login button{
	width: 70%;
	margin-left: 15%;
	margin-top: 2%;
}

.login a{
	color: grey;
}

/**VISTA RECUPERAR CONTRASEÑA**/
.modalContraseña .modal-header{
    display: block;
    margin: auto;
}


/**VISTA ERROR PAGE**/
.col-md-7{
    width: 90%;
    display: block;
    margin: 7% auto;
}

.errorpage a{
    width: 50%;
    display: block;
    margin: auto;
}

.errorpage{
    padding: 4%;
    border: 10px double yellow;
    border-radius: 10px 10px 10px 10px;
}

.errorpage img{
    display: block;
    margin: auto auto 0;
    width: 110px;
}   

.errorpage h1{
    margin-top: 2%;
    text-align: center;
    color: white;
}

.errorpage h5{
    text-align: center;
    color: white;
}

/**VISTA FOOTER**/
footer{
	width: 100%;
}

footer p{
	color: white;
	text-align: center;
	font-size: 10px;
}


/**VISTA PERFIL**/
.perfil{
    border: 1px solid grey;
    border-radius: 20px 20px 20px 20px;
    padding: 5%;
}

.perfil img{
    display: block;
    margin: auto;
    width: 30%;
    margin-bottom: 3%;
}

.perfil hr{
    border: 1px solid grey;
}

.perfil .info{
    margin-left: 5%;
    margin-right: 5%;
}

.perfil button{
    display: block;
    margin: auto;
}

.perfil h2{
    text-align: center;
}


/**FONDO APLICACION**/
.fondoApp{
    width: 100%;
    padding: 3%;
    background: white;
}



/**VISTA ADMIN**/
.fondoRegistros{
    width: 80%;
    border: 1px solid grey;
    border-radius: 20px 20px 20px 20px;
    padding: 5%;
    display: block;
    margin: auto;
    margin-top: 3%;
}

.fondoRegistros h2{
    text-align: center;
}

.fondoRegistros button{
    width: 40%;
    display: block;
    margin: auto;
}

.combo{
    color: #868e96;
}

.combo:hover{
    color: #ADB5BD;
}

.combo .dropdown-item:hover{
    background: #868e96;
}

.fondoApp .col-md-8{
    margin-left: 23%;
    margin-right: 0;
}

.fondoApp .item{
    width: 30%;
}

.fondoTablas{
    width: 80%;
    margin-left: 10%;
}

/**VISTA REGISTRO FORMATO**/
.formato{
    border: 1px solid black;
}

#formFormato input{
    text-align: center;
}

/**RESPONSIVE**/
@media screen and (max-width:800px) {
    .login{
	width: 100%;
        margin-bottom: 20%;
    }
   
    .fondoApp{
        margin-left: 0;
        margin-top: 12%;
    }
    
    .perfil{
        width: 100%;
    }
    
    .fondoRegistros{
        width: 95%;
        margin-top: 7%;
        margin-bottom: 10%;
    }

    .flechaSubir{
        padding: 3%;
        right: 8%;
        border-radius: 20px 20px 20px 20px;
    }
    .fondoApp .col-md-12{
        margin-left: 0;
    }

    .fondoApp .item{
        width: 31%;
    }
    
    .fondoApp .item span{
        font-size: 12px;
    }
    
    .fondoTablas{
        width: 95%;
        margin-left: 3%;
    }

    .fondoApp .col-md-8{
        margin-left: 0;
        margin-right: 0;
    }

    .botones{
        width: 35px;
    }
}